p {
    text-align: center;
    max-width: 50%;
    align-self: center;
}

.page-title {
    text-decoration: underline;
}

.curr-page {
    text-decoration: underline;
}

.navbar {
    background-color: #545454;
    color: white;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: black;
}

.email {
    color: black;
}

.p-container {
    width: 50%;
    margin: 0 auto;
}