p {
    text-align: center;
    align-self: center;
    font-family: 'Abhaya Libre', serif;
}

.logo {
    max-width: 200px;
}

.page-title {
    text-decoration: underline;
}

.curr-page {
    text-decoration: underline;
}

.navbar {
    background-color: #545454;
    color: white;
}

.nav-link {
    color: white;
    font-family: canter3D;
    font-size: large;
}

li {
    float:right;
}

li:first-child {
    float:left;
}

.nav-link:hover {
    color: black;
}

.email {
    color: black;
}

.content-container {
    max-width: 50%;
    margin: 0 auto;
}

.copyright {
    position: absolute;
    bottom: 0px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

@font-face {
    font-family: canter3D;
    src: url('Canter-Bold3D.ttf'),
    url('Canter-Bold3D.eot');
}