p {
    text-align: center;
    align-self: center;
    font-family: 'Abhaya Libre', serif;
}

.logo {
    max-width: 200px;
}

.page-title {
    text-decoration: underline;
}

.curr-page {
    text-decoration: underline;
}

/* .navbar {
    background-color: #545454;
    color: white;
    margin: 0;
    overflow: hidden;
}

.nav-link {
    color: white;
    font-family: canter3D;
    font-size: large;
}

.nav-link:hover {
    color: black;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li {
    display: inline-block;
    list-style-type: none;
}
nav ul li a {
    display: block;
    line-height: 3em;
    padding: 1em 3em;
    text-decoration: none;
}

.navbar-right {
    float: right;
} */

/* nav ul li:not(:first-child) {
    float:right;
}
nav ul li:first-child {
    /* margin-right: auto; */
    /* float: left;
} */

/* li {
    float:right;
}

li:first-child {
    float:left;
} */

.topnav {
    overflow: hidden;
    background-color: #545454;
}
  
.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: canter3D;
}
  
.topnav a:hover {
    color: black;
}

.topnav a.active {
    text-decoration: underline;
}
  
.topnav-right {
    float: right;
}

.email {
    color: black;
}

.content-container {
    max-width: 50%;
    margin: 0 auto;
}

.copyright {
    /* position: absolute;
    bottom: 0px;
    text-align: center;
    margin-left: auto;
    margin-right: auto; */
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

@font-face {
    font-family: canter3D;
    src: url('Canter-Bold3D.ttf'),
    url('Canter-Bold3D.eot');
}